<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
  <title>Daily Journal</title>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">DAILY JOURNAL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link px-5 mx-1" href="/">Home</a>
          <a class="nav-item nav-link px-5 mx-1" href="about">About Us</a>
          <a class="nav-item nav-link px-5 ml-1 mr-5" href="contact">Contact Us</a>
        </div>
      </div>
      </div>
    </nav>
    <div class="container border rounded-lg">
